html,
body {
  width:auto;
  height:auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%}
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  word-wrap: break-word;
  word-break: break-word;
  margin: 0;
}
h3 {
  font-size: 30px;
}
li {
  margin-bottom: 10px;
}
hr {
  width: 100%;
  height: 5px;
  margin: 40px 0 25px;
  border: none;
  background: #f1f4f4;
}
hr {
  overflow: visible;
  box-sizing: content-box;
  height: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: #161b3d;
  outline: 0;
}
a {
  background-color: transparent;
}
ol,
ul {
  margin: 0 0 25px;
  padding-left: 20px;
}
.page-tag-wrap p, .page-author-wrap p {
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
}
.page-tag-wrap.is-image a, .page-tag-wrap.is-image p, .page-author-wrap.is-cover-image a, .page-author-wrap.is-cover-image p {
  color: #fff;
}
.page-tag-image::before, .page-author-cover-image::before {
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  opacity: .4;
  background-color: #394245;
  background-image: linear-gradient(234deg,#394245 0%,#000 100%);
}
.search-input {
  font-size: 30px;
  font-weight: 700;
  display: block;
  width: 100%;
  min-width: 100px;
  height: 62px;
  margin: 0px 15px;
  transition: border-color .3s ease;
  color: #161b3d;
  border-width: 0 0 7px 0;
  border-style: solid;
  border-color: #dcdfe7;
  border-radius: 0;
  outline: 0;
}
.search-meta {
  font-size: 10px;
  font-weight: 700;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  margin: 0px 15px;
  text-align: left;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #161b3d;
}
.search-meta .hide {
  display: none;
}
.search-input::-webkit-input-placeholder {
  color: #d8dce4;
}
.search-input:-ms-input-placeholder {
  color: #d8dce4;
}
.search-input::-ms-input-placeholder {
  color: #d8dce4;
}
.search-input::placeholder {
  color: #d8dce4;
}
.search-input:focus, .subscribe-wrap .subscribe-email:focus {
  border-bottom-color: #2821fc;
}
.page-tag-image, .page-author-cover-image {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center center;
  background-size: cover;
}
.page-tag-wrap:hover, .page-author-wrap:hover {
  transform: translateY(-4px);
}
.item-link-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 26px;
}
.pending{
  background-color: #bdc3c7 !important;
  color: #bdc3c7 !important;
  user-select: none;
  animation-name: skeletonAnimation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
h1.pending{
  padding-top:0px !important;
  margin-top:20px !important;
}

h2.pending{
  padding-top:0px !important;
  margin-top:20px !important;
  font-size:40px !important;
}
#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}

.nav-dot {
  position: absolute;
  top: 1px;
  right: 2px;
  width: 7px;
  height: 7px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border-radius: 50%;
}
.nav-link:hover ~ .nav-dot {
  background-color: #d3d5dc;
}
.global-tag {
  font-size: 10px;
  font-weight: 700;
  display: inline-block;
  margin: 0 2px 1px 0;
  padding: 4px 10px;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border-radius: 20px;
}
.item-meta {
  line-height: 1.3;
}
.item-meta span,
.item-meta time {
  font-size: 14px;
  opacity: 0.9;
}
.item-meta a,
.author-name {
  font-size: 16px;
  font-weight: 700;
  position: relative;
  z-index: 2;
}
.item-meta time {
  display: inline-block;
  margin-right: 15px;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.error{
  border-color: #D8000C !important;
}
.tag-hash-post-violet .no-featured-image .white a, .tag-hash-post-violet .no-featured-image .white, .tag-hash-post-green .no-featured-image .white a, .tag-hash-post-green .no-featured-image .white, .tag-hash-post-red .no-featured-image .white a, .tag-hash-post-red .no-featured-image .white, .tag-hash-post-orange .no-featured-image .white a, .tag-hash-post-orange .no-featured-image .white, .tag-hash-post-yellow .no-featured-image .white a, .tag-hash-post-yellow .no-featured-image .white, .tag-hash-post-blue .no-featured-image .white a, .tag-hash-post-blue .no-featured-image .white {
  color: #fff;
}
.global-hash-dark-version .post-wrap a:hover,
.global-hash-dark-version .load-more:hover,
.global-hash-dark-version .scrollable-nav span:hover,
.global-hash-dark-version .subscribe-wrap button:hover,
.global-hash-dark-version .subscribe-back-button:hover,
.global-hash-dark-version .page-subscribe-header a:hover::before {
  border-color: #e7a007;
}
.post-wrap a:hover,
.load-more:hover,
.scrollable-nav span:hover,
.subscribe-wrap button:hover,
.subscribe-back-button:hover,
.page-subscribe-header a:hover::before {
  border-color: #2821fc !important;
}
.nav-dot.nav-dot-current, .nav-link:active ~ .nav-dot, .featured-wrap h2 a:hover .featured-dot, .post-tag:hover, .load-more:hover, .subscribe-wrap button:hover, .subscribe-back-button:hover {
  background-color: #2821fc!important;
}
.global-hash-dark-version .section-prev-next .tag-hash-orange,
.global-hash-dark-version
  .section-prev-next
  .tag-hash-orange
  .prev-next-image::before,
.section-prev-next .tag-hash-orange,
.section-prev-next .tag-hash-orange .prev-next-image::before,
.section-loop .tag-hash-orange article,
.section-loop .tag-hash-orange .item-image::before,
.tag-hash-post-orange .is-featured-image .featured-image::before,
.tag-hash-post-orange .no-featured-image {
  background-color: #e77842 !important;
  background-image: linear-gradient(45deg, #e77842, #f7c068) !important;
}
.global-hash-dark-version .section-prev-next .tag-hash-red,
.global-hash-dark-version
  .section-prev-next
  .tag-hash-red
  .prev-next-image::before,
.section-prev-next .tag-hash-red,
.section-prev-next .tag-hash-red .prev-next-image::before,
.section-loop .tag-hash-red article,
.section-loop .tag-hash-red .item-image::before,
.tag-hash-post-red .is-featured-image .featured-image::before,
.tag-hash-post-red .no-featured-image {
  background-color: #ff5858 !important;
  background-image: linear-gradient(1deg, #f857a6, #ff5858) !important;
}
.global-hash-dark-version .section-prev-next .tag-hash-violet,
.global-hash-dark-version
  .section-prev-next
  .tag-hash-violet
  .prev-next-image::before,
.section-prev-next .tag-hash-violet,
.section-prev-next .tag-hash-violet .prev-next-image::before,
.section-loop .tag-hash-violet article,
.section-loop .tag-hash-violet .item-image::before,
.tag-hash-post-violet .is-featured-image .featured-image::before,
.tag-hash-post-violet .no-featured-image {
  background-color: #b53cff !important;
  background-image: linear-gradient(20deg, #b53cff, #f952ff) !important;
}
.global-hash-dark-version .section-prev-next .tag-hash-blue,
.global-hash-dark-version
  .section-prev-next
  .tag-hash-blue
  .prev-next-image::before,
.section-prev-next .tag-hash-blue,
.section-prev-next .tag-hash-blue .prev-next-image::before,
.section-loop .tag-hash-blue article,
.section-loop .tag-hash-blue .item-image::before,
.tag-hash-post-blue .is-featured-image .featured-image::before,
.tag-hash-post-blue .no-featured-image {
  background-color: #6bd0ff !important;
  background-image: linear-gradient(40deg, #327ae7, #6bd0ff) !important;
}
.global-hash-dark-version .section-prev-next .tag-hash-green,
.global-hash-dark-version
  .section-prev-next
  .tag-hash-green
  .prev-next-image::before,
.section-prev-next .tag-hash-green,
.section-prev-next .tag-hash-green .prev-next-image::before,
.section-loop .tag-hash-green article,
.section-loop .tag-hash-green .item-image::before,
.tag-hash-post-green .is-featured-image .featured-image::before,
.tag-hash-post-green .no-featured-image {
  background-color: #23bd38 !important;
  background-image: linear-gradient(19deg, #23bd38, #41eba9) !important;
}
.global-hash-dark-version .section-prev-next .tag-hash-yellow,
.global-hash-dark-version
  .section-prev-next
  .tag-hash-yellow
  .prev-next-image::before,
.section-prev-next .tag-hash-yellow,
.section-prev-next .tag-hash-yellow .prev-next-image::before,
.section-loop .tag-hash-yellow article,
.section-loop .tag-hash-yellow .item-image::before,
.tag-hash-post-yellow .is-featured-image .featured-image::before,
.tag-hash-post-yellow .no-featured-image {
  background-color: #ffd62e !important;
  background-image: linear-gradient(40deg, #ffb040, #ffd62e) !important;
}
.section-loop .is-image a,
.section-loop .tag-hash-violet a,
.section-loop .tag-hash-green a,
.section-loop .tag-hash-red a,
.section-loop .tag-hash-orange a,
.section-loop .tag-hash-yellow a,
.section-loop .tag-hash-blue a{
  color: #fff !important;
}
.section-loop .is-image p,
.section-loop .tag-hash-violet p,
.section-loop .tag-hash-green p,
.section-loop .tag-hash-red p,
.section-loop .tag-hash-orange p,
.section-loop .tag-hash-yellow p,
.section-loop .tag-hash-blue p{
  color: #fff !important;
}

.section-loop .is-image .white,
.section-loop .tag-hash-violet .white,
.section-loop .tag-hash-green .white,
.section-loop .tag-hash-red .white,
.section-loop .tag-hash-orange .white,
.section-loop .tag-hash-yellow .white,
.section-loop .tag-hash-blue .white {
  color: #fff !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.4;
  margin: 5px 0 25px;
  color: #161b3d;
}


.nav-list,
[id^="toggle"] {
  display: none;
}
.nav-list {
  z-index: 999;
  min-width: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
.nav-list > .nav-list-item {
  position: relative;
  display: inline-block;
  background-color: transparent;
}
.nav-list-item,
[id^="toggle"]:checked + .nav-list {
  position: absolute;
  right: 0;
  display: block;
  border-radius: 26px;
  background-color: #f7f7f7;
}
.nav-list-item {
  margin: 0;
}
.mb-2, .my-2 {
  margin-bottom: .5rem!important;
}
.nav-link {
  line-height: 0.5;
  display: block;
  margin: 0;
  padding: 10px;
  text-decoration: none;
}
.nav-link:hover ~ .nav-dot {
  background-color: #d3d5dc;
}
.nav-link-active ~ .nav-dot {
  background-color: #2821fc !important;
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.footer-logo .no-logo, .footer-nav, .footer-copyright span {
  font-weight: 700;
}
.loader{
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 60px;
  right: 0;
  margin: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #2821fc;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.featured-image {
  position: absolute;
  z-index: -3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 85px;
  overflow: hidden;
  width: calc(50% - 130px);
  border-radius: 5px;
  background: no-repeat center center;
  background-size: cover;
}
 .featured-wrap {
    box-sizing: border-box;
    min-height: calc(100vh - 160px - 85px);
    padding: 0 12% 10vh 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .featured-wrap .featured-content {
    width: 100%;
    padding: 60px 0 60px 40px;
  }
  .featured-label {
    color: #fff;
    background-color: #161b3d;
  }
  .featured-label svg {
    width: 12px;
    height: 12px;
    margin: 0 2px -2px 0;
    fill: #fff;
  }

  .featured-wrap h1,
  .featured-wrap h2 {
    font-size: 54px;
    font-weight: 700;
    line-height: 1.2;
    padding-top: 20px;
  }

  .featured-wrap h2 a .featured-dot {
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-top: 10px;
    margin-left: 5px;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    border-radius: 20px;
    background-color: transparent;
  }
  .featured-wrap h2 a {
    position: relative;
  }
  .nav-dot.nav-dot-current,
  .nav-link:active ~ .nav-dot,
  .featured-wrap h2 a:hover .featured-dot,
  .post-tag:hover,
  .load-more:hover,
  .subscribe-wrap button:hover,
  .subscribe-back-button:hover {
    background-color: #2821fc !important;
  }

  .post-tag {
    color: #161b3d;
    background-color: #f4f4f4;
  }
  .post-tag:hover {
    color: #fff;
  }
  .tags-wrap {
    margin-right: 20%;
  }
  .item-meta .reading-time {
    font-size: 10px;
    display: inline-block;
    margin-top: 9px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
  .item-meta .reading-time svg {
    width: 18px;
    height: 18px;
    margin-bottom: -4px;
    fill: #161b3d;
  }
  .section-scrollable .no-featured-image .featured-content, .tag-hash-full-image .is-featured-image .featured-wrap .featured-content {
      padding: 60px 0;
  }
  .tag-hash-full-image .is-featured-image .featured-wrap .white a, .tag-hash-full-image .is-featured-image .featured-wrap .white {
      color: #fff;
  }
  p {
    line-height: 1.65;
  }
  .tag-hash-post-violet .post-wrap.no-image, .tag-hash-post-green .post-wrap.no-image, .tag-hash-post-red .post-wrap.no-image, .tag-hash-post-orange .post-wrap.no-image, .tag-hash-post-yellow .post-wrap.no-image, .tag-hash-post-blue .post-wrap.no-image {
    padding-top: 60px !important;
  }
  .tag-hash-post-violet .no-featured-image .reading-time svg, .tag-hash-post-green .no-featured-image .reading-time svg, .tag-hash-post-red .no-featured-image .reading-time svg, .tag-hash-post-orange .no-featured-image .reading-time svg, .tag-hash-post-yellow .no-featured-image .reading-time svg, .tag-hash-post-blue .no-featured-image .reading-time svg {
    fill: #fff !important;
  }
  .search-open svg:hover, .search-close svg:hover, .post-share svg:hover, .author-social a svg:hover, .footer-social-links svg:hover, .page-author-wrap.is-cover-image svg:hover, .page-author-wrap.is-profile-image.is-cover-image svg:hover {
    fill: #2821fc !important;
}
  ol, ul {
    margin: 0 0 25px;
    padding-left: 20px;
  }
  ul {
      list-style: disc inside;
  }
  blockquote {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4;
    width: 90%;
    margin: 5vh 0 5vh -55px;
    padding: 20px 50px;
    border-left: 5px solid #f1f4f4;
  }
  button, input {
    overflow: visible;
  }
  button, input, optgroup, select, textarea {
      font-family: inherit;
      font-size: 100%;
      line-height: 1.15;
      margin: 0;
  }
  .section-prev-next .is-image, .section-prev-next .tag-hash-violet, .section-prev-next .tag-hash-green, .section-prev-next .tag-hash-red, .section-prev-next .tag-hash-orange, .section-prev-next .tag-hash-yellow, .section-prev-next .tag-hash-blue {
    color: #fff;
  }
  .section-prev-next .tag-hash-violet .prev-next-image::before, .section-prev-next .tag-hash-green .prev-next-image::before, .section-prev-next .tag-hash-red .prev-next-image::before, .section-prev-next .tag-hash-orange .prev-next-image::before, .section-prev-next .tag-hash-yellow .prev-next-image::before, .section-prev-next .tag-hash-blue .prev-next-image::before {
    opacity: .8;
  } 
  blockquote p {
    margin: 0;
  }
  .lightense-target {
    cursor: zoom-in;
    transition: transform 300ms cubic-bezier(.2, 0, .1, 1);
    pointer-events: auto;
  }
  .lightense-target {
    transition: transform 300ms cubic-bezier(.2, 0, .1, 1);
  }
  p img {
    width: calc(100% + 110px);
    margin: 35px 0 35px -55px;
    border-radius: 5px;
  }
  img {
      border-style: none;
  }
  p img ~ small, p img ~ small a {
    color: #aeb5be;
  }
  p img ~ small {
      font-size: 12px;
      line-height: 1.1;
      position: absolute;
      display: block;
      max-width: 300px;
      transform: rotate(-90deg);
      transform-origin: -64px 20px;
  }
  .tag-hash-post-violet .is-featured-image .featured-image::before, .tag-hash-post-green .is-featured-image .featured-image::before, .tag-hash-post-red .is-featured-image .featured-image::before, .tag-hash-post-orange .is-featured-image .featured-image::before, .tag-hash-post-yellow .is-featured-image .featured-image::before, .tag-hash-post-blue .is-featured-image .featured-image::before {
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    opacity: .7;
}
  @media (min-width: 1400px)
  {
    .tag-hash-full-image .featured-image, .tag-hash-post-violet .no-featured-image, .tag-hash-post-green .no-featured-image, .tag-hash-post-red .no-featured-image, .tag-hash-post-orange .no-featured-image, .tag-hash-post-yellow .no-featured-image, .tag-hash-post-blue .no-featured-image {
        left: 85px;
        overflow: hidden;
        width: calc(100% - 170px);
        border-radius: 5px;
    }
  }
 
  @media (max-width: 1199px) and (min-width: 1024px) {
    .featured-wrap h2 a .featured-dot {
      right: -14px;
      width: 10px;
      height: 10px;
      margin-top: 5px;
    }
  }
  @media (max-width: 479px) {
    .featured-wrap h1,
    .featured-wrap h2 {
      font-size: 30px;
    }
    .featured-wrap {
      min-height: calc(100vh - 100px);
    }
    .featured-wrap .featured-content {
      padding: 30px 38px;
  }
  }

  @media (max-width: 767px) and (min-width: 480px) {
    .search-input {
      font-size: 30px;
      height: 55px;
      margin:0px 10px;
    }
    h1, h2, h3, h4, h5, h6 {
      margin: 3px 0 20px !important;
    }
    .featured-wrap h1,
    .featured-wrap h2 {
      font-size: 35px !important;
    }
    .featured-wrap .featured-content {
      padding: 60px 20% 60px 85px !important;
    }
    .search-meta{
      margin:0px 10px;
    }
  }
  @media(max-width:767px){
    .search-input {
      font-size: 20px;
      height: 52px;
  }
  }
  @media (max-width: 1399px) and (min-width: 1200px) {
    .featured-wrap h1,
    .featured-wrap h2 {
      font-size: 45px !important;
    }
  }
  @media (max-width: 1199px) and (min-width: 1024px) {
    .featured-wrap h1,
    .featured-wrap h2 {
      font-size: 35px !important;
    }
  }
  @media (max-width: 1023px) and (min-width: 480px) {
    .featured-wrap {
      min-height: calc(100vh - 160px);
    }
    .tags-wrap {
        margin-right: 10%;
    }
    .nav-list {
      margin: 20px 0 0 0;
    }
    .tag-hash-post-violet .no-featured-image .featured-wrap, .tag-hash-post-green .no-featured-image .featured-wrap, .tag-hash-post-red .no-featured-image .featured-wrap, .tag-hash-post-orange .no-featured-image .featured-wrap, .tag-hash-post-yellow .no-featured-image .featured-wrap, .tag-hash-post-blue .no-featured-image .featured-wrap {
      min-height: calc(100vh - 160px)!important;
  }
  }
  @media (max-width: 1023px) and (min-width: 768px) {
    .featured-wrap .featured-content {
      padding: 60px 20% 60px 123px !important;
    }
    .featured-wrap h1,
    .featured-wrap h2 {
      font-size: 45px !important;
    }
  }
  @media (min-width: 1024px) {
    .tag-hash-full-image .is-featured-image .featured-wrap {
      max-width: 700px;
      margin: 0 auto;
      padding: 0 0 10vh;
    }
    .tag-hash-full-image .is-featured-image .reading-time svg {
      fill: #fff;
    }
    .featured-wrap .item-meta {
      width: 90%;
    }
    .tag-hash-post-violet .no-featured-image .featured-wrap, .tag-hash-post-green .no-featured-image .featured-wrap, .tag-hash-post-red .no-featured-image .featured-wrap, .tag-hash-post-orange .no-featured-image .featured-wrap, .tag-hash-post-yellow .no-featured-image .featured-wrap, .tag-hash-post-blue .no-featured-image .featured-wrap {
      min-height: calc(100vh - 160px - 85px)!important;
  }
  }


@media (max-width: 1399px) and (min-width: 1024px)
{
  .tag-hash-full-image .featured-image, .tag-hash-post-violet .no-featured-image, .tag-hash-post-green .no-featured-image, .tag-hash-post-red .no-featured-image, .tag-hash-post-orange .no-featured-image, .tag-hash-post-yellow .no-featured-image, .tag-hash-post-blue .no-featured-image {
      width: 100%;
      border-radius: 0;
  }
  .featured-image {
    left: 0;
    width: calc(50% - 45px);
    border-radius: 0 5px 5px 0;
  }
}
@media (max-width: 1399px) and (min-width: 480px) {
  .wrap {
    width: calc(100% - 85px - 85px);
  }
}

@media (min-width: 1921px) {
  #root {
    max-width: 1920px;
    margin: 0 auto;
  }
}
@media (max-width: 1023px) {
  .is-featured-image .featured-wrap h1,
    .is-featured-image .featured-wrap h2,
    .is-featured-image .featured-wrap h2 a,
    .is-featured-image .featured-wrap .item-meta,
    .is-featured-image .featured-wrap .item-meta a {
      color: #fff;
    }
    .featured-wrap h2 a .featured-dot {
      display: none;
    }
    .pending{
      user-select: none;
      animation-name: skeletonAnimation;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  .nav-label {
    display: block;
  }
  .nav-list {
    display: none;
  }
  .nav-list {
    padding: 20px 20px 30px 0;
    min-width: 170px;
    word-break: initial;
  }
  .nav-list > .nav-list-item {
    position: relative;
    display: block;
  }
  .nav-link {
    line-height: 1;
    padding: 10px 10px 10px 30px;
  }
  .nav-list .nav-list-item.search-open {
    background-color: #2821fc;
  }
  .nav-list .nav-list-item.search-open {
    margin: 9px -20px -30px 0;
    padding: 13px 29px 18px 0;
    cursor: pointer;
    border-radius: 0 0 25px 25px;
  }
  .search-open span {
    font-size: 12px;
    display: inline-block;
    padding-right: 2px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
  }
  .nav-list .nav-list-item.search-open svg {
    margin-bottom: -6px;
    fill: #fff;
  }
  .featured-image {
    left: 0;
    width: 100%;
    margin-bottom: 0;
    border-radius: 0;
  }
  .featured-wrap {
    padding: 0 0 10vh;
  }
  .featured-image::before {
    border-radius: 0;
  }
  .featured-image::before {
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.4;
    background-color: #101213;
    background-image: linear-gradient(234deg, #394245 0%, #000 100%);
  }
  .is-featured-image .featured-label {
    color: #161b3d;
    background-color: #f4f4f4;
  }
  .is-featured-image .featured-label svg {
    fill: #161b3d;
  }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
  }
}
@keyframes slide-top {
    0% {
    transform: translateY(100px);
}
100% {
    transform: translateY(0);
}
}

@keyframes skeletonAnimation {
  0%{
    opacity: 0.8
  }
  50%{
    opacity: 0.4
  }
  100%{
    opacity: 0.8
  }
};